<div id="card-container">
  <div class="card-holder">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ this.product.name }}</mat-card-title>
        <span><mat-card-subtitle>{{ this.product.price }}</mat-card-subtitle></span>
      </mat-card-header>
      <img mat-card-image
           src="{{ this.product.imageUrl }}"
           alt="Photo of a drink">
      <mat-card-content>
        <p style="color: #020122">{{ this.product.description }}</p>
        <p style="font-weight: bold;">Hiện đang có: {{ this.product.inStock }} ly</p>
      </mat-card-content>
    </mat-card>


    <button style="background-color: #FFAE03; color: #020122" mat-flat-button (click)="addToCart({
      name: this.product.name,
      price: this.product.price,
      quantity: 1
 })">Buy now
    </button>
  </div>
</div>

<!--src="{{ this.product.imageUrl }}-->

