<body>
<div id="container">
  <header>
    <h1>Fruit Tea Shop</h1>
    <nav>
      <span><div id="ava">
        @if (this.authService.currentUser) {
          <img src="{{ this.authService.currentUser.photoURL }}" alt="avatar"/>
        }
      </div></span>
      <button class="nav-button" [routerLink]="['/home']">Home</button>
      <button class="nav-button" [routerLink]="['/products']">Products</button>
      <button class="nav-button" (click)="authService.login()">Login</button>
      <button class="nav-button" (click)="authService.logout()">Logout</button>
    </nav>
  </header>
  <router-outlet></router-outlet>

  <!--    <div id="card-container">-->
  <!--      @for (prod of this.cartService.products; track $index) {-->
  <!--        <div class="card-holder">-->
  <!--          <app-card-->
  <!--            [product]="prod"-->
  <!--          ></app-card>-->
  <!--        </div>-->
  <!--      }-->
  <!--    </div>-->

  <div id="cart-container">
    <div class="header">
      <h2>Cart</h2>
      <h3>Total: {{ this.totalMoney }} VND</h3>
    </div>
    @for (item of this.cartService.cart; track $index) {
      <p>{{ item.name }} - {{ item.price }} VND - {{ item.quantity }}</p>
      <button (click)="removeFromCart($index)">Delete</button>
    }
  </div>

  <footer>
    <p>&copy; 2024 Fruit Tea Shop. All rights reserved.</p>
  </footer>
</div>
</body>



