
body {
  font-family: Open-Sans, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}


#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #447604;
  padding: 10px;
}

#ava {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  border-radius: 20%;
}

#ava img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

header {
  max-height: 25%;
  background-color: #447604;
  color: #FFAE03;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  margin: 0;
  font-weight: bold;
}


.nav-button {
  background-color: #fff;
  color: #6CC551;
  border: 2px solid #447604;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.nav-button:hover {
  background-color: #447604;
  color: #fff;
}


#card-container {
  height: 72%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1%;
  margin-top: 2%;
  overflow: auto;
}


#cart-container {
  position: fixed;
  top: 20px;
  right: 20px;
  border: 1px solid whitesmoke;
  padding: 20px;
  border-radius: 8px;
  background-color: #FFAE03;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#cart-container h2, #cart-container h3 {
  font-size: 20px;
  color: #020122;
  font-weight: bold;
}

#cart-container p {
  font-size: 16px;
  margin-bottom: 16px;
}

#cart-container button {
  border: 3px solid #447604;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 10px 20px;
}


footer {
  background-color: #447604;
  color: whitesmoke;
  text-align: center;
  padding: 5px;
  bottom: 0;
  width: 100%;
  height: 3%;
  position: fixed;
}


