<!-- src/app/home/home.component.html -->
<div class="home-container">
  <div class="story-section">
    <div class="story-text">
      <h1>Welcome to Our Fruit Tea Shop!</h1>
      <p>At our shop, we offer a delightful range of fruit teas that bring freshness and joy to your day. Our unique
        blends of high-quality tea leaves and fresh fruit ingredients create a taste sensation that is both refreshing
        and invigorating.</p>
      <p>Discover the story behind our passion for fruit tea and experience the essence of our carefully crafted
        beverages. Each sip tells a story of dedication, flavor, and quality.</p>
      <div class="button-container">
        <button mat-flat-button color="primary" (click)="goToProducts()">View Our Products</button>
      </div>
    </div>
    <div class="story-image">
      <img src="https://theme.hstatic.net/200000399631/1000761068/14/our-story-h3-1.jpg?v=630" alt="Store Image">
    </div>
  </div>
</div>
